<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}?v">
    <link rel="stylesheet" href="{% static 'app/css/navbar.css' %}?v">
    <link rel="stylesheet" href="{% static 'app/css/contacto.css' %}?v">
    <title>EnviosUABCS - Inicio</title>
</head>

<body class="">
    <div class="container">
        {% include 'app/includes/navbar.html' %} 

        <div class="hero-container">
            <div class="wrap">
                <p>Cuentanos como <br>podemos <span><i>ayudarte</i></span></p>
            </div>
        </div>

        <div class="container-content wrap">
            <div class="contact-container">
                <h1>Comunicate con nosotros por medio de nuestro canales</h1>

                <p><b>Telefono:</b> 6121234567</p>
                <p><b>Correo electronico:</b> asistencia@enviosuabcs.com</p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14567.711991316475!2d-110.34280840129261!3d24.10402742482498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86afd37af242dbd5%3A0x1fea0e48a6086594!2sDHL%20Express%20ServicePoint!5e0!3m2!1ses-419!2smx!4v1666616478131!5m2!1ses-419!2smx"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>


    </div>
    <script src="{% static 'app/js/main.js' %}"></script>
</body>

</html>