<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}?v">
    <link rel="stylesheet" href="{% static 'app/css/navbar.css' %}?v">
    <link rel="stylesheet" href="{% static 'app/css/acerca.css' %}?v">
    <link rel="stylesheet" href="{% static 'app/css/registroSesion.css' %}?v">
    <title>EnviosUABCS - Iniciar Sesión</title>
</head>
<body>
    <div class="container">
        {% include 'app/includes/navbar.html' with opcion='iniciarsesion' %} 
        <div class="formlogin-container">
            <div class="row">
                <h1>Iniciar sesión</h1>
                <form method="POST">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                
                                {{message}}
                
                            </div>
                        {% endfor %}
                    {%  endif %}
                    {{form.as_div}} {%csrf_token%}
                     <button>Iniciar sesión</button>
                </form>
                <div>
                    <a href="{% url 'register_user' %}">Crear cuenta</a>
                </div>
            </div>
            
        </div>

    </div>
</body>