<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}?v">
    <link rel="stylesheet" href="{% static 'app/css/navbar.css' %}?v">
    <link rel="stylesheet" href="{% static 'app/css/home.css' %}?v">
    <title>EnviosUABCS - Envio de paquetes</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <title>Panel</title>

</head>
<body>
    
    <main class="container-fluid">
        <div id="map" style="height: 100vh;"></div>
    </main>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script type="text/javascript" src="{% static 'app/js/app.js'%}"></script>
</body>
</html>