<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}?v">
    <link rel="stylesheet" href="{% static 'app/css/navbar.css' %}?v">
    <link rel="stylesheet" href="{% static 'app/css/home.css' %}?v">
    <link rel="stylesheet" href="{% static 'app/css/panel.css' %}?v">
    <title>EnviosUABCS - Envio de paquetes</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <title>Panel</title>

</head>

<body>
    <main class="container panel">
        <nav class="navbar">
            <div class="wrap">
                <h1 class="navbar-logo">Envios<i>UABCS</i></h1>

                <img class="navbar-button" src="{% static 'app/img/HamburgerMenu.svg' %}" alt="">
                <div class="options-container mostrar panel">
                    <div class="option-container panel">
                        <a title="Inicio" href="{% url 'inicio' %}" class="option.panel">Cerrar Sesion</a>
                    </div>
                </div>
            </div>
        </nav>


        <div class="main">
            <div class="drone_list-container">
                <div class="drone_list-search_container">
                    <input placeholder="¿Que drone buscas?" type="search" name="" id="">
                </div>
                <div class="drone_list">
                    <div class="dron">
                        <div>
                            <img src="" alt="">
                        </div>
                        <div>
                            <h1>Americo</h1>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div id="map" style="height: 100%; width: 100%;"></div>
        </div>
    </main>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'app/js/app.js'%}"></script>
</body>

</html>