<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/css/main.css">
    <link rel="stylesheet" href="./src/css/navbar.css">
    <link rel="stylesheet" href="./src/css/service.css">
    <title>EnviosUABCS - Servicios</title>
</head>

<body class="">
    <div class="container">
        <nav class="navbar">
            <div class="wrap">
                <h1 class="navbar-logo">Envios<i>UABCS</i></h1>
                <img class="navbar-button" src="./src/img/HamburgerMenu.svg" alt="">
                <div class="options-container mostrar">
                    <div class="option-container ">
                        <a title="Inicio" href="/" class="option">Inicio</a>
                    </div>
                    <div class="option-container active">
                        <a title="Servicio" href="/servicios.html" class="option">Servicio</a>
                    </div>
                    <div class="option-container">
                        <a title="Acerca" href="/acerca.html" class="option">Acerca</a>
                    </div>
                    <div class="option-container">
                        <a title="Contacto" href="/Contacto.html" class="option">Contacto</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="hero-container">
            <div class="wrap">
                <p>Tarifas de los <span><i>servicios</i></span></p>
            </div>
        </div>

        <div class="container-content wrap">
            <div class="how-it-work">
                <h1>¿Como funciona nuestra tarifa?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra in dolor in rutrum. Vivamus
                    tincidunt, orci sed faucibus tincidunt, nunc ligula porttitor orci, sit amet bibendum metus augue ac
                    lectus.</p>
            </div>

            <div class="container-prices">
                <h1>Precios de las tarifas</h1>
                <p>Precio por KM</p>

                <div class="prices">
                    <div class="price">
                        <p>$5.00 MXN</p>
                        <img id="CajaChica" src="./src/img/paqueteChico.png" alt="">
                        <p>0 - 5 Kg</p>
                    </div>

                    <div class="price">
                        <p>$10.00 MXN</p>
                        <img id="CajaMediana"  src="./src/img/paqueteMediano.png" alt="">
                        <p>6 - 10 Kg</p>
                    </div>

                    <div class="price">
                        <p>$15.00 MXN</p>
                        <img id="CajaGrande" src="./src/img/paqueteGrande.png" alt="">
                        <p>11 - 16 Kg</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="./src/js/main.js"></script>
</body>

</html>