<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}?v">
    <link rel="stylesheet" href="{% static 'app/css/navbar.css' %}?v">
    <link rel="stylesheet" href="{% static 'app/css/service.css' %}?v">
    <title>EnviosUABCS - Servicios</title>
</head>

<body class="">
    <div class="container">
        {% include 'app/includes/navbar.html' with opcion='servicios'%} 

        <div class="hero-container">
            <div class="wrap">
                <p>Tarifas de los <span><i>servicios</i></span></p>
            </div>
        </div>

        <div class="container-content wrap">
            <div class="how-it-work">
                <h1>¿Como funciona nuestra tarifa?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra in dolor in rutrum. Vivamus
                    tincidunt, orci sed faucibus tincidunt, nunc ligula porttitor orci, sit amet bibendum metus augue ac
                    lectus.</p>
            </div>

            <div class="container-prices">
                <h1>Precios de las tarifas</h1>
                <p>Precio por KM</p>

                <div class="prices">
                    <div class="price">
                        <p>$5.00 MXN</p>
                        <img src="{% static 'app/img/paqueteChico.png' %}" id="CajaChica" alt="">
                        <p>0 - 5 Kg</p>
                    </div>

                    <div class="price">
                        <p>$10.00 MXN</p>
                        <img id="CajaMediana" src="{% static 'app/img/paqueteMediano.png' %}" alt="">
                        <p>6 - 10 Kg</p>
                    </div>

                    <div class="price">
                        <p>$15.00 MXN</p>
                        <img id="CajaGrande" src="{% static 'app/img/paqueteGrande.png' %}" alt="">
                        <p>11 - 16 Kg</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="{% static 'app/js/main.js' %}"></script>
</body>

</html>