.formlogin-container {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formlogin-container * {
    font-family: "Montserrat";
}

.row {
    width: 500px;
    background-color: white;
    padding: 40px;
    padding-block: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px -2px 5px 0px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 25%);
    -moz-box-shadow: 3px -2px 5px 0px rgba(0, 0, 0, 0.75);
}

.row>form>div {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    justify-content: center;
}

.row>form>div>input {
    padding: 10px;
    padding-block: 10px;
    background-color: rgb(0,0,0,.06);
    border: 1px solid rgba(0, 0, 0, 0.148);
    border-radius: 5px;
    outline: 1px solid transparent;
    transition: all ease 0.25s;
}

.row>form>div>label {
    left: 10px;
    /* position: absolute; */
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.36);
    font-weight: bold;
}

.row>form>div>input:focus + label {
    background-color: red !important;
}

.row>form>div>input:focus {
    outline: 1px solid var(--primary-color);
}

.row>form>button {
    padding: 20px;
    padding-block: 10px;
    width: 100%;
    margin-top: 30px;

    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.5em;
    border-radius: 5px;
    transition: all ease 0.25s;
    font-weight: bold;
    cursor: pointer;
}
.row>form>button:hover{

    box-shadow: 0px 2px 7px 2px rgb(0 0 0 / 25%);
}
.row>div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.row>div>a {
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    margin-top: 15px;
}

.row > h1 {
    margin-bottom: 30px;
    color: var(--primary-color);
    text-align: center;
}