.formlogin-container {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
}

.row {
    width: 500px;
    background-color: white;
    padding: 40px;
    padding-block: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px -2px 5px 0px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 25%);
    -moz-box-shadow: 3px -2px 5px 0px rgba(0, 0, 0, 0.75);
}

.row>form>div {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    justify-content: center;
}

.row>form>div>input {
    padding: 10px;
    padding-block: 10px;
}

.row>form>div>input:focus + label {
    top: 0;

}


.row>form>div>label {
    left: 10px;
    position: absolute;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.36);
    font-weight: bold;
}



.row>div>button {
    padding: 20px;
    padding-block: 10px;
    width: 100%;
    margin-top: 30px;

    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.row>div>a {
    text-align: center;
}

.row > h1 {
    margin-bottom: 30px;
    color: var(--primary-color);
    text-align: center;
}